body,
ul,
li,
h1,
h2,
h3,
h4,
p,
section,
div,
header,
footer,
em,
i,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "微软雅黑";
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
button {
  outline: 0 none;
  border: none;
}
/*px--rem*/
/* 设计稿的 1/10 */
/*布局 */
.flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  /*垂直居中*/
}
.flex-sb {
  justify-content: space-between;
  /*两端对齐*/
  -webkit-box-pack: space-between;
}
.fr {
  float: right;
  display: inline;
}
.back {
  background: url(../img/ico_top_1.png) no-repeat left center;
  height: 0.45333333rem;
  width: 0.66666667rem;
  background-size: 0.66666667rem 0.45333333rem;
  text-indent: -9999px;
}
.menu_btn {
  background: url(../img/ico_top_2.png) no-repeat left center;
  height: 0.45333333rem;
  width: 0.66666667rem;
  background-size: 0.66666667rem 0.45333333rem;
}
.font {
  font-family: webdings;
  background-color: #FA9A33;
  border-radius: 0.26666667rem;
  -webkit-border-radius: 0.26666667rem;
  color: white;
}
.font:after {
  width: 0.44rem;
  height: 0.44rem;
}
.font-car:after {
  content: "h";
}
.font-gift:after {
  content: "e";
}
.font-bicycle:after {
  content: "b";
}
header {
  padding: 0rem 0.30666667rem 0rem 0.30666667rem;
  height: 1.22666667rem;
  background-color: #FA3432;
  font-size: 0.37333333rem;
  color: #fff;
}
.data {
  "font-size": 15px;
  text-align: center;
  height: 2.96rem;
  color: #fff;
  padding: 0.66666667rem 0rem 0rem 0rem;
  background-image: linear-gradient(#ff3c01, #d80607);
}
[data-dpr="2"] .data {
  "font-size": 30px;
}
[data-dpr="2.5"] .data {
  "font-size": 38px;
}
[data-dpr="2.75"] .data {
  "font-size": 41px;
}
[data-dpr="3"] .data {
  "font-size": 45px;
}
[data-dpr="4"] .data {
  "font-size": 60px;
}
.data em {
  font-size: 0.90666667rem;
}
.data .data1 {
  margin: 0rem 0rem 0.13333333rem 0rem;
}
.txt {
  text-align: center;
  height: 1.05333333rem;
  background-color: #f1f0f0;
  color: #777;
  font-size: 0.4rem;
}
.txt li {
  flex: 1 1 50%;
}
.txt li:nth-child(1) {
  border-right: 1px solid #ccc;
}
.tips {
  padding: 0.90666667rem 0rem 0rem 0rem;
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.tips table {
  text-align: center;
  font-size: 0.32rem;
  color: #ffc166;
  margin: 0 auto;
  width: 8.48rem;
  height: 2.85333333rem;
  background: url(../img/detail_icon_bg.png) no-repeat center center;
}
.tips table td {
  height: 0.73333333rem;
  padding: 0rem 0rem 0rem 1.14666667rem;
}
.tips table tr:nth-child(1) td:nth-child(1) {
  background: url(../img/detail_icon_01.png) no-repeat;
}
.tips table tr:nth-child(1) td:nth-child(2) {
  background: url(../img/detail_icon_02.png) no-repeat;
}
.tips table tr:nth-child(2) td:nth-child(1) {
  background: url(../img/detail_icon_03.png) no-repeat;
}
.tips table tr:nth-child(2) td:nth-child(2) {
  background: url(../img/detail_icon_04.png) no-repeat;
}
.tips table td {
  background-position-x: 0.13333333rem !important;
}
.pro_bg {
  position: relative;
  margin: 0.8rem 0.30666667rem 0.33333333rem 0.30666667rem;
  width: 9.09333333rem;
  height: 0.2rem;
  border-radius: 0.10666667rem;
  -webkit-border-radius: 0.10666667rem;
  background-color: #f0f0f0;
}
.pro_bg .pro_front {
  width: 0.82666667rem;
  height: 0.2rem;
  border-radius: 0.10666667rem;
  -webkit-border-radius: 0.10666667rem;
  background-color: #fb0502;
  transition: width 1s;
}
.pro_bg .director {
  transition: left 1s;
  text-align: center;
  font-size: 0.26666667rem;
  width: 0.8rem;
  height: 0.42666667rem;
  background-color: #fb0502;
  color: #fff;
  position: absolute;
  bottom: 18px;
}
.pro_bg .director:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 7px solid #fb0502;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}
.tz {
  text-align: center;
  padding: 0rem 0.30666667rem 0.30666667rem 0.30666667rem;
  font-size: 0.29333333rem;
  color: #808080;
}
.tz p {
  margin: 0rem 0rem 4.8rem 0rem;
}
.tz p em {
  color: #ff0000;
}
.tz a {
  color: #808080;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 1.4rem;
  border-top: 1px solid #ccc;
  background-color: #f0f0f0;
  padding: 0rem 0.48rem 0rem 0.48rem;
}
footer a {
  font-size: 0.42666667rem;
  color: #f90;
  border-bottom: 2px solid #f90;
  margin: 0rem 0.53333333rem 0rem 0rem;
}
footer button {
  width: 6.66666667rem;
  height: 1.09333333rem;
  text-align: center;
  color: #fff;
  background-color: #fa3432;
}
.mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.22666667rem;
  bottom: 1.4rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.mask .nav {
  height: 2.66666667rem;
  background-color: #fff;
  font-size: 0.32rem;
  border-bottom: 1px solid #e9e9e8;
}
.mask .nav a {
  text-align: center;
  color: #808080;
  flex: 1 1 auto;
  border-right: 1px solid #808080;
}
.mask .nav a:last-child {
  border-right: none;
}
.mask .nav img {
  width: 0.53333333rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.12rem;
}
